/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inconsolata:wght@300&display=swap');
:root {
  --ifm-font-family-base: 'Inconsolata', monospace;
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: #000000;
  --ifm-color-primary-darker: #000000;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #000000;
  --ifm-color-primary-lighter: #000000;
  --ifm-color-primary-lightest: #000000;
  --ifm-background-color: #fdfef6;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ffffff;
  --ifm-color-primary-dark: #e6e6e6;
  --ifm-color-primary-darker: #d9d9d9;
  --ifm-color-primary-darkest: #b3b3b3;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #000;
  --ifm-footer-background-color: #000;
}


h2,
h3,
h4,
h5,
h6 {
  @apply mb-1 tracking-wide text-[#f5eee6] font-display;
}

h1 {
  @apply text-3xl tracking-wide text-[#f5eee6] sm:text-4xl md:text-6xl font-display mt-12;
}

h2 {
  @apply text-xl md:text-4xl;
}

h3 {
  @apply text-xl tracking-widest uppercase sm:text-xl md:text-xl font-body;
}

h4 {
  @apply text-xl tracking-widest uppercase font-body;
}

button {
  @apply font-body;
}

body {
  @apply text-xl 
}

table th {
  @apply uppercase tracking-widest
}

a {
  @apply hover:no-underline hover:text-white/70 font-semibold
}